<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ping Pong</title>
  </head>
  <body>

    <center>
      <h1>Ping Pong</h1>
      <p id="message"></p>

      <!-- Game Canvas goes here -->
    </center>

    <script>const socket = new WebSocket('ws://<%= ip %>:5050')</script>
    <script src="script.js"></script>
  </body>
</html>
