<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ping Pong</title>
    <style media="screen">
      body{
        background-color: #2b2b2b;
        color: white;
        padding: 0;
        margin: 0;
      }
      canvas:hover{cursor: crosshair;}
    </style>
  </head>
  <body>

      <canvas id="gameTable" width="800" height="500" style="background-color : #449546"></canvas>
      <p id="message"></p>

    <script>const socket = new WebSocket('ws://<%= ip %>:5050')</script>
    <script src="script.js"></script>
  </body>
</html>
